################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.NET 高级开发系列/MyGeneric/.vs/MyGeneric/v15
