################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.NET 高级开发系列/MyGeneric/.vs/MyGeneric/v15
/.NET 高级开发系列/MyGeneric/MyGeneric/bin/Debug
/.NET 高级开发系列/MyGeneric/MyGeneric/obj/Debug
/.NET 高级开发系列/MyReflection/.vs/MyReflection/v15
/.NET 高级开发系列/MyReflection/MyReflection/bin/Debug
/.NET 高级开发系列/MyReflection/MyReflection/obj/Debug
/.NET 高级开发系列/MyReflection/MyReflection.Model/bin/Debug
/.NET 高级开发系列/MyReflection/MyReflection.Model/obj/Debug
